/*Tipografías*/
$titular-font: 'Fredoka One', cursive;
$text-font: 'Comfortaa', cursive;

/*Paleta*/
$color-graywhite: #ebebeb;
$color-grayblack:#363636;
$color-pink: #bb41f1;

/*La de abajo es una variable para aplicar en algunos width operaciones para el desafío. 
La verdad no encuentro dónde me conviene usarlo para este proyecto.

Puede verse aplicado en las líneas
85 (resta)
137 (resta)
153 (división) */

$width: 100%;

/*Bucle también para probar en body página nosotrxs*/

